{% extends "my_app/base.html" %}

{% block content %}
   
    {% comment %} <h1>Owners</h1>

    {% if owners %}
        <table>
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            {% for owner in owners %}
            <tr>
                <td>{{ owner.user_id }}</td>
                <td>{{ owner.first_name }}</td>
                <td>{{ owner.last_name }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %} {% endcomment %}

    <h2>Custom Login</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    </form>
{% endblock  %}